@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-clr: #7253a4;
	--gray-clr: #6a6b6c;
	--ff-poppins: "Poppins", sans-serif;
	--ff-mukta: "Mukta", sans-serif;
	--fs-100: 12px;
	--fs-200: 14px;
	--fs-300: 16px;
	--fs-400: 18px;
	--fs-500: 20px;
	--fs-600: 22px;
	--fs-700: 32px;
	--fs-800: 40px;
	--fs-900: 48px;
}

body {
	font-family: var(--ff-poppins);
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

button,
input,
textarea {
	font-family: inherit;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.content {
	padding: 96px 0;
}

.btn {
	padding: 8px 20px;
	border: 1px solid var(--main-clr);
	border-radius: 8px;
	border-top-right-radius: 0;
	font-size: var(--fs-200);
	font-weight: 500;
	cursor: pointer;
	transition: all 200ms linear;
}

.btn-white {
	background-color: #fff;
	color: var(--main-clr);
}

.btn-white:hover {
	background-color: var(--main-clr);
	color: #fff;
}

.btn-purple {
	background-color: var(--main-clr);
	color: #fff;
}

.btn-purple:hover {
	background-color: #fff;
	color: var(--main-clr);
}

.section-title {
	text-align: center;
	font-size: var(--fs-800);
	font-weight: 600;
	margin-bottom: var(--fs-300);
}

.section-text {
	text-align: center;
	font-size: var(--fs-300);
	color: var(--gray-clr);
	width: 50%;
	margin: 0 auto var(--fs-900) auto;
}

.header-content {
	padding: 12px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	display: flex;
	align-items: center;
	gap: 8px;
	height: 55px;
}

.header-logo p {
	color: var(--main-clr);
	font-weight: 500;
}

.header-nav {
	margin: 0 32px;
}

.header-nav ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 48px;
}

.header-nav a {
	font-size: var(--fs-200);
	color: var(--gray-clr);
}

.header-nav a.active {
	color: var(--main-clr);
	font-weight: 500;
}

.header-btns button:first-child {
	margin-right: 8px;
}

main,
#experience {
	background: linear-gradient(
		103.07deg,
		rgba(139, 67, 255, 0.35) 6.94%,
		rgba(221, 208, 242, 0.180435) 99.97%,
		rgba(116, 39, 241, 0) 99.98%,
		rgba(109, 70, 172, 0.0984375) 100%
	);
}

.main-content {
	padding: 64px 0;
}

main h1 {
	font-size: var(--fs-900);
	font-weight: 600;
	margin-bottom: 32px;
}

main h1 span {
	color: var(--main-clr);
}

main p {
	font-size: var(--fs-300);
	color: var(--gray-clr);
	margin-bottom: 24px;
}

main .input-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	width: 60%;
	height: 48px;
	border-radius: 22px;
	padding: 0 16px 0 0;
}

main .input-wrapper input {
	outline: none;
	border: none;
	background: none;
	height: 100%;
	width: 100%;
	padding: 0 16px;
	font-size: var(--fs-200);
}

main .input-wrapper i {
	color: var(--gray-clr);
}

.main-top {
	display: flex;
	align-items: center;
	gap: 80px;
}

.main-top-left {
	flex: 2;
}

.main-img {
	flex: 1;
	background-color: var(--main-clr);
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: -3;
}

.main-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	z-index: -1;
}

.main-img-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 80%;
	width: 80%;
	background-color: transparent;
	transform: translate(-50%, -50%);
	border: 1px solid white;
	border-radius: 50%;
	z-index: -2;
}

.main-top {
	margin-bottom: 32px;
}

.main-bottom {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 32px;
}

.main-bottom a {
	width: 18%;
}

.main-bottom a img {
	width: 100%;
}

.categories-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 32px;
}

.categories-item {
	flex: 22%;
	text-align: center;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	padding: 8px 40px 48px 40px;
	border-radius: 20px;
}

.categories-item:nth-child(2) {
	background-color: var(--main-clr);
}

.categories-item:nth-child(2) h3,
.categories-item:nth-child(2) p {
	color: white;
}

.categories-item h3 {
	margin-bottom: var(--fs-200);
	font-weight: 600;
	font-size: var(--fs-600);
}

.categories-item p {
	color: var(--gray-clr);
	font-size: var(--fs-300);
}

.experience-content {
	display: flex;
	align-items: center;
	gap: 96px;
}

.experience-left {
	max-width: 600px;
	width: 100%;
}

.experience-left img {
	width: 100%;
}

.experience-content h2,
.experience-content p {
	text-align: left !important;
	width: initial;
}

.course-items {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 340px);
	gap: 48px;
	margin-bottom: 48px;
}

.course-item {
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	border-radius: 32px;
	overflow: hidden;
}

.course-img {
	position: relative;
}

.course-img img {
	width: 100%;
	height: 100%;
}

.course-img span {
	position: absolute;
	bottom: -16px;
	right: 16px;
	height: 50px;
	width: 50px;
	background-color: var(--main-clr);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 50%;
}

.course-info {
	padding: 16px 32px 32px;
}

.course-info h3 {
	font-weight: 600;
	margin-bottom: 32px;
}

.course-info .rating {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 24px;
}

.course-info .stars {
	margin-right: 48px;
}

.course-info .rating p {
	color: var(--gray-clr);
	font-size: var(--fs-300);
}

.course-info .rating span {
	font-size: var(--fs-200);
	margin-left: 4px;
}

.course-info button {
	width: 100%;
}

.course-content button {
	width: fit-content;
	margin: 0 auto;
	display: block;
}

.student-items {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.student-item {
	flex: 31%;
	padding: 24px 16px 48px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	border-radius: 32px;
}

.student-item:nth-child(2) {
	background-color: var(--main-clr);
	color: white;
}

.student-item:nth-child(2) .student-bottom p {
	color: white;
}

.student-top {
	display: flex;
	gap: 8px;
	margin-bottom: 16px;
}

.student-bottom p {
	margin-bottom: 24px;
	color: var(--gray-clr);
}

footer {
	background-color: var(--main-clr);
	color: white;
}

footer .col {
	display: flex;
	flex-direction: column;
}

footer .col h3 {
	font-size: var(--fs-500);
	font-weight: 600;
	margin-bottom: 12px;
}

footer .col a {
	margin-bottom: 8px;
}

footer .row1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	gap: 64px;
	border-bottom: 1px solid white;
}

footer .col1 img {
	margin-bottom: 8px;
}

footer .col1 p {
	font-size: var(--fs-400);
	margin-bottom: 16px;
}

footer .header-logo {
	color: white;
}

footer .row2 {
	text-align: center;
	padding: 16px 0 32px 0;
}

@media (max-width: 1024px) {
	.header-nav ul {
		gap: 24px;
	}
	.btn {
		padding: 6px 14px;
	}
}

@media (max-width: 768px) {
	:root {
		--fs-100: 10px;
		--fs-200: 12px;
		--fs-300: 14px;
		--fs-400: 16px;
		--fs-500: 18px;
		--fs-600: 20px;
		--fs-700: 30px;
		--fs-800: 32px;
		--fs-900: 40px;
	}

	.header-nav {
		display: none;
	}

	.section-text {
		width: 100%;
	}

	.main-top {
		flex-direction: column-reverse;
		text-align: center;
	}

	.main-top-left .input-wrapper, .main-top-left input {
		width: 100% !important;
	}

	.experience-content {
		flex-direction: column;
	}

	.course-items {
		grid-template-columns: repeat(auto-fit, 240px);
	}
}

@media (max-width: 480px) {
	.course-items {
		grid-template-columns: repeat(1, 1fr);
	}
	
	footer .row1 {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

@media (max-width: 340px) {
	.header-btns button {
		display: block;
		width: 80px;
	}

	.header-btns button:first-child {
		margin-bottom: 8px;
	}
}